.preview-ends {
  &-1 {
    height: 3rem;
    width: 100%;
    background-color: #7d7b79;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 0.25rem;
  }
  &-2 {
    height: 4rem;
    width: 100%;
    background-color: #7d7b79;
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
  }
  &__button {
    color: white;
    font-size: 16px;
    background-color: #ff7747;
    width: 40vw;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    border: 1px solid red;
    border-radius: 20px;
  }
}
