.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__add-list {
  }
  &__button-1 {
    color: white;
    font-size: 1rem;
    background-color: #ff7747;
    width: 35vw;
    height: 2.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid black;
    border-radius: 45px;
  }
  &__button-2 {
    color: white;
    font-size: 0.875rem;
    background-color: #ff7747;
    width: 27vw;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 2rem;
    border: 1px solid black;
    border-radius: 20px;
  }
  &__edit {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  &__name-container {
    width: 64vw;
    height: 3rem;
    margin-top: 0.5rem;
    background-color: #7d7b79;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__name {
    color: white;
    font-size: 1.75rem;
  }
}
input[type="text"] {
  width: 56vw;
  height: 1.5rem;
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  background-color: white;
  border: 1px solid black;
}

input::placeholder {
  color: black;
}
.pad {
  display: flex;
  justify-content: space-evenly;
}
