.preview-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    width: 60vw;
    margin-bottom: 1rem;
    background-color: #7d7b79;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  &__items {
    padding: 0.25rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  &__body {
    font-size: 0.75rem;
  }

  &__name-container {
    width: 60vw;
    margin-top: 1rem;
    background-color: #7d7b79;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.25rem;
  }
  &__name {
    color: white;
    font-size: 1.25rem;
    &-2 {
      color: white;
      font-size: 1.375rem;
    }
  }
}

.preview-logo {
  background-color: #111111;
  height: 55vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;
  margin: 0rem;
  padding: 0rem;
  &__image {
    width: 80vw;
    height: 36vw;
    margin: 0rem;
    padding: 0rem;
  }
}
.preview-body {
  background-image: url(../../assets/images/Background3.jpg);
  background-position: center;
  height: 100vw;
  width: 100%;
  min-height: 500px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
  &__container {
    background-color: #111111;
    width: 70vw;
    height: 100vw;
    min-height: 500px;
  }
}
