.logo {
  background-color: #111111;
  height: 11.5244rem;
  display: flex;
  justify-content: center;
  &__image {
    width: 16rem;
  }
}
.body {
  background-image: url(../../assets/images/Background3.jpg);
  background-position: center;
  height: 100%;
  width: 100%;
  min-height: 500px;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  justify-content: center;
  &__container {
    background-color: #111111;
    width: 70vw;
    height: 100%;
    min-height: 500px;
    padding-top: 1rem;
  }
}
